*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #081b29;
    color: #ededed;
}

.header a{
    margin-top: 50px;
    color: #ededed;
    font-weight: 300;
    line-height: 1.4;
    text-decoration: none;
    text-transform: capitalize;
}

.header{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}
.header h1{
    margin-bottom: 30px;
}

.javascript{
    height: 250px;
    width: 250px;

}
ul.nobullets{
    list-style-type: none;
}

.html{
    width: 300px;
    
}
h1{
    text-align: center;
}